body{
    font-family:"Century Gothic", Calibri, serif;
	font-size:13px;
	margin:0px;
	padding:0px;
}
 h1{
	font-size:30px;
	font-weight:normal;
	text-align:center;
	color:black;
	
}
header{
	height:700px;
	background-color: #008080;
	background-repeat: no-repeat;
	opacity:0.8;
	
}
nav{
	width:100%;
	background-color:white;
	color:black;
}
footer{
	height:80px;
	padding-top:30px;
	text-align:center;
	background-color:#F5F5F5;
	border:none;
	color:#696969;
	font-size: large;
	font-weight:500;
}
nav ul{
	margin:0px;
	padding:0px;
}
nav li{
	list-style-type:none;
	float:left;
}
nav a{
	display:inline-block;
	text-decoration: none;
	padding:20px 30px;
	color:black;
	text-transform: uppercase;
	font-size:15px;
	
}
.table{
	display:table;
	margin:0 auto;
}
.menu-ind:hover{
	border-top:5px solid #4C8;
	background-color: RGBa(64, 200, 130, 0.15);
}
.menu-exp:hover{
	border-top:5px solid #f1dc4f;
	background-color: RGBa(241, 211, 79, 0.15);
}
.menu-hob:hover{
	border-top:5px solid #007088;
	background-color: RGBa(000, 112, 192, 0.15);
}
.menu-con:hover{
	border-top:5px solid #e44d26;
	background-color: RGBa(228, 77, 38, 0.15);
}
nav li:hover a{
	padding:15px 30px 20px 30px;
}
section{
	width:100%;
	min-height:400px;
	padding-bottom:0px;
	margin:0px;
	background-color:#66CDAA;
}
.sec{
	margin:0px 10%;
	padding-bottom: 20px;
}
.competences{
    background-image: url(desert.jpg);
    background-repeat: no-repeat;
}
.left{
	float:left;
	width:30%;
	font-size:300px;
	
}
.right{
	float:left;
	width:70%;
	font-weight: bold;
	margin-top:50px;
	background-color: white;
}
.cleft,.cright,.sousleft,.sousright{
	width:50%;
	float:left;
}
.sec::after,.exp::after,.reco::after{
	content:**;
	display:table;
	clear:both;
}
input[type=submit]{
    background-color:#325723;
    color: white;
    border:none;
    padding: 8px 4px;
   text-decoration:none;
    margin: 1px 2px;
    cursor:pointer;
    border-radius:20px;

}
textarea {
    width: 100%;
    height:150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

input[type=text]:focus {
    border: 3px solid #124523;
}
input[type=tel]:focus{
    border: 3px solid #124523;
}
input[type=email]:focus{
    border: 3px solid #124523;
}
aside{
    border:none;
}
.portofollio{
    background-color:#FFFAF0;
    padding:40px 70px;
    width:100%;
    border:none;
}
.portofollio img{
    border-radius:5px;
    padding:0px;
    margin:0px;
}
@media screen and (max-width:780px){
	header{
		height:50px;
	}
	h1{
		font-size:28px;
		margin:20px 0px 0px 0px;
	}
	nav li a{
		font-size:12px;
		padding:10px;
	}
	nav li:hover a{
		padding:5px 10px 10px 10px;
	}
}
