body{
    font-family:"Century Gothic", Calibri, serif;
	font-size:13px;
	margin:50px;
	padding:0px;
	/*Century Gothic", Calibri, serif*/
}
p{
	color:#123241;
	font-size:larger;
	font-weight:500;
}
header-div{
	position:relative;
	
}
div .myname h1{
	color:#FFA500;
}
div .myname{
	position: absolute;
	top:300px;
	height: 200px;
	color:black;
	width: 100%;
	border:3px solid white;
	background-color: white;
	opacity:0.7;
	
}
.philosophie h3{
	color:#123241;
}
h3{
	color:#FFa500;
	font-size:17px;
	font-weight:600;
}
h1{
	font-size:30px;
	font-weight:normal;
	text-align:center;
	color:#FFA500;

	
}
header{
	height:700px;
	background-image: url(back.jpg);
	background-repeat:repeat-x;
	opacity:0.8;
	background-size:contain;
}

nav{
	width:100%;
	background-color:white;
	opacity:0.7;
	color:black;
	top:0;
	position:fixed;
	height:50px;
}
progress{
	width:300px;
	height:10px;
	/*margin-bottom:30px;*/
	margin-bottom:10px;
	
}
.third{
	padding-left:60px;
}
.first{
	background-color:#FFFFF0;
	
}
.third h4{
	margin:0px;
}
.first , .third{
	margin-top:40px;
}
.philosophie img{
	border-radius:100px;
}
section .second , .first , .third , #photo{
	float:left;
	width:25%;
	margin-left:20px;
}
footer .my-footer{
	height:50px;
	text-align:center;
	background-color:black;
	border:none;
	color:white;
	font-size: large;
	font-weight:500;
	padding-top: 10px;
	opacity:0.8;
}
nav ul{
	margin:0px;
	padding:0px;
}
nav li{
	list-style-type:none;
	float:left;
}
nav a{
	display:inline-block;
	text-decoration: none;
	padding:10px 30px;
	color:black;
	text-transform: uppercase;
	font-size:15px;
	font-weight:500;
	
}
nav a:hover{
	color:#FFA500;
}
.table{
	display:table;
	margin:0 auto;
}
.menu-ind:hover{
	border-top:1px solid#FFA500;
}
.menu-exp:hover{
	border-top:1px solid#FFA500;
}
.menu-hob:hover{
	border-top:1px solid#FFA500;
}
.menu-con:hover{
	border-top:1px solid#FFA500;
}
nav li:hover a{
	padding:15px 30px 20px 30px;
}
section{
	width:100%;
	height:400px;
	margin:0px;
    background-color:white;
   
    
 
}
h2{
	text-align: center;
	color:black ;
	font-weight: 700;
	font-size:50px;
	
	
	
}
section .left, .right , .agright{
	float:left;
	width:30%;
	height:200px;
	margin-top:40px;
	margin-left: 40px;
	border-bottom:1px solid #DCDCDC;
	
}
h4{
	color:#123241;
}
p:first-of-type {
	text-indent:10px;
}
.cont{
    background-image: url(hone.jpg);
    opacity:0.8;
    padding-left:20px;
    width:50%;
    border:none;
    background-repeat: no-repeat;
    background-position:bottom left;
    margin-top:80px;
    height:500px;
}
input[type=submit]{
    background-color:;
    color: white;
    border:none;
    padding: 8px 4px;
   text-decoration:none;
    margin: 1px 2px;
    cursor:pointer;
    border-radius:20px;

}
textarea {
    width:50%;
    height:150px;
    box-sizing:padding-box;
    border: 2px solid #696969;
    border-radius: 1px;
    resize: none;
    
    
}

input[type=text] {
    width: 300px;
    height:25px;
}
input[type=tel]{
     width: 300px;
    height:25px;
}
input[type=email]{
     width: 300px;
    height:25px;
}
.portofollio{
    background-color:#FFFAF0;
    padding:40px 70px;
    width:100%;
    border:none;
}
.portofollio img{
    border-radius:5px;
    padding:0px;
    margin:0px;
    
}
@media screen and (max-width:780px){
	header{
		height:50px;
	}
	h1{
		font-size:28px;
		margin:20px 0px 0px 0px;
	}
	nav li a{
		font-size:12px;
		padding:10px;
	}
	nav li:hover a{
		padding:5px 10px 10px 10px;
	}
}
