body{
    font-family:"Century Gothic", Calibri, serif;
    
    
}
.main-header{
    background-image: url(studio.jpg);
    background-clip: padding-box;
    background-repeat: no-repeat;
    width: 100%;
    height:700px;
    top:0;
    

     
     
}
.part-of-header{
    background:white;
    top:250px;
    position: relative;
    height:300px;
    width:400px;
    padding-left:45px;
    padding-top:50px;
    margin-left:100px;
    border:none;
    
    
    
}
.part-of-header a{
    background-color:#EE3B3B;
    color:white;
    font-weight:bold;
    border-radius: 10px;
    text-decoration:none;
    background-clip: padding-box;
    padding: 10px;
}
.part-of-header a:hover{
    padding:11px;
    box-shadow:5px 5px 5px  #A52A2A;
    /* je doi ajouter le shadow*/
}
.part-of-header h2,h4{
    color:#1b3a51;
    text-transform: uppercase;
}
.part-of-header p{
    color:#838B8B;
    position: relative;
    left:5px;
    top:5px;
}
.div3 p{
    left:200px;
}
.div4 p{
    left:200px;
}
.div2 p{
    left:200px;
    
}
.div1 p{
    left:200px;
    
    
}
.nom , .date , .web , .histo{
    background-color:white;
    position:relative;
    width: 250px;
    height:100px;
    padding-top: 10px;
    border-radius:20px;
}
.web{
    bottom:360px;
    left:800px;
    height: 100px;
    
}
.nom{
    bottom:150px;
    left:150px;
    height:100px;
}
.date{
    bottom:120px;
    left:150px;
    height: 100px;
    
}
.histo{
    bottom:200px;
    left:500px;
    height: 350px;
    padding-left:20px;
    padding-right: 20px;
}
.div-first-section p{
    color:black;
}
.div-first-section{
    background-color:#FFFAF0;
    border:none;
    padding:30px;
    text-align:center;
    position: relative;
    margin:0 auto;
}
.div-first-section  h1 {
    color:#1b3a51;
}
.div-first-section img{
    border-radius:100px;
    
    
}
.div-first-section img:hover{
    border:2px #1b3a51 solid;

}
.div-second{
    background-color:white;
    
    height:600px;
    padding-top:30px;
    padding-left:150px;
    padding-right:150px;
    text-align: center;
    position: relative;
    margin-top:20px;
    margin-bottom: 20px;
    
}
.div-second p {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border:4px solid  #EE3B3B;
    font-size:30px;
    position: relative;
    text-align:center;
}
.div-second h1{
    color:#1b3a51;
    text-align: center;
    margin-bottom:40px;
    
}
.div1 , .div2 , .div3 , .div4{
    float:left;
    position: relative;
    text-align: center;
    width:50%;
}
.edu{
    text-align: center;
}
.edu h1{
    margin-bottom: 100px;
}
.edu p{
    background-color:#FFFAF0; 
    position: relative;
    text-align: left;
    width:600px;
    margin-left: 200px;
    overflow: scroll;
    height: 300px;
}
input[type=submit]{
    background-color:#325723;
    color: white;
    border:none;
    padding: 8px 4px;
   text-decoration:none;
    margin: 1px 2px;
    cursor:pointer;
    border-radius:20px;

}
textarea {
    width: 100%;
    height:150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

input[type=text]:focus {
    border: 3px solid #124523;
}
input[type=tel]:focus{
    border: 3px solid #124523;
}
input[type=email]:focus{
    border: 3px solid #124523;

}
#hidden{
    text-align: center;
    position:relative;
    bottom:-250px;
}
#hidden h1{
    margin-bottom: 40px;
}
aside{
    background-color:#FFFAF0;
    
    border:none;
    position:relative;
    bottom:600px;
    width:300px;
    left:1000px;

}
.reco{
    background-color:#FFFAF0;
    width:500px;
    margin:0 auto;
}
.footer-st{
    background-color:#E6E6FA;;
    /*c7c7c7*/
    color:black;
    width:100%;
    height:80px;
    position:absolute;
	padding: 30px 0;
	text-align:center;
	border-top:1px solid #d3d8da;
	
}
.portofollio{
    background-color:#FFFAF0;
    padding:40px 70px;
    width:100%;
    border:none;
}
.portofollio img{
    border-radius:15px;
    
}
nav ul{
	margin:0px;
	padding:0px;
	
}
nav li{
	list-style-type:none;
	float:left;
	
	
}
nav a{
	display:inline-table;
	text-decoration: none;
	padding:20px 30px;
	color:black;
	text-transform: uppercase;
	font-size:15px;

}
.nav-bar{
	display:inline-block;
    border:1px solid #d3d8da;
    margin: 0 300px;
    /*margin:0 auto; */
    width:750px;
    /*width750 */
    background-color:white;
    opacity: 0.8;

}
nav li:hover{
	border-bottom:5px solid #27408B;
	color:white;
	font-weight: bold;
}
nav a:hover{
    color:cadetblue;
}